*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  height: calc(100vh - 60px);
}

#barra-laterale{
  background-color: black;
  width: 250px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  padding: 20px 0 2px 20px;
  color: grey;
}

#barra-laterale a:hover {
    color: white;
    border-left: 3px solid green;
    padding-left: 5px;
}

#logo{
  width: 100px;
  margin-bottom: 15px;
}

#logo a:hover{
  border: none;
  padding-left: 0;
}

li {
  list-style: none;
  margin-bottom: 7px;
}

a{
  text-decoration: none;
  color: grey;
}

li img{
  width: 20px;
}

li > a > span{
  margin-left: 10px;
  position: relative;
  bottom: 4px;
}

h4{
  color: white;
  margin-bottom: 10px;
}

#gianni{
  flex-grow: 1;
}

#no-effect a:hover{
  border: none;
  padding-left: 0;
}

.fa-plus-square{
  font-size: 30px;
}

#crea-playlist{
position: relative;
bottom:5px;
left: 5px;
}

#nuove-playlist{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}

#download{
  display: flex;
  align-items: center;
  width: 100px;
}

#download > span{
font-size: 15px;
}

#download > img{
  width: 15px;
  margin-right: 10px;
}

#profilo{
  border-top: 1px solid white;
  display: flex;
  width: 200px;
  padding-top: 10px;
}

#profilo > img{
  width: 25px;
  background-color: grey;
  border-radius: 15px;
  padding: 5px;
  margin-right: 10px;
}

#profilo > span{
  align-self: center;
  font-size: 18px;
  color: white;
  font-weight: bolder;
}

#mainblock{
  width: calc(100% - 230px);
  margin-left: 230px;
}

#upgrade{
  background-color: rgba(0, 0, 0, 0.3);
  height: 50px;
  width: calc(100vw - 250px);
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

#upgrade > a{
  align-self: center;
  color: white;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
}

#upgrade > a:hover{
  font-size: 15px;
}

.fixed{
  position: fixed;
}

#albums{
  background-color: #222326;
  overflow: auto;
  color: grey;
  /* debub */
  height: calc(100vh - 60px);
  padding-top: 60px;
}

#nav-albums{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#nav-albums a:hover {
  color: white;
  border-bottom: 3px solid green;
  padding-bottom: 5px;
}

h3{
  color: white;
  margin: 10px auto;
}

#recently-played{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
  min-height: 200px;
  padding-top: 15px;
}

#recently-played div,
#recently-played > div > img{
  width: 150px;
}

#recently-played > div{
  position: relative;
}

/* .play-album-old-sbagliato > img{
  position: absolute;
  background-color: red;
  width: 150px;
  height: 150px;
  bottom: 50%;
  left: 50%;;
  transform: translate(-50%, -3%);
  transition: 1s opacity;
  display: none;
  opacity: 0;
} */

.container-image {
  position: relative;
}

.container-image > img {
  width: 150px;
}

.play-album {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.play-album > img {
  width: 40px;
}

.container-image:hover .play-album {
  display: flex;
}

/* effetto hover play album */
#creato-per,
#artisti-popolari{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: baseline;
  min-height: 200px;
  padding-top: 15px;
}

.img-radius{
  width: 150px;
}

.img-radius > img{
  border-radius: 50%;
  width: 150px;
}

#creato-per > div,
#artisti-popolari > div{
  margin: 0 15px;
}

/* prova media query */
@media screen and (min-width: 768px) and (max-width: 991px) {
#nav-albums{
  text-align: center;
}
}

#nav-albums > ul > li{
  float: left;
  margin-right: 15px;
}

footer{
  background-color: #282828;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

footer a,
footer i{
  color: white;
}

#left-foot,
#right-foot{
  width: 18%;
  padding-left: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#copertina > img{
  width: 40px;
}

h5{
  color: white;
}

#middle-foot{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

#middle-foot i{
  padding: 0 10px;
  font-size: 15px;

}

#buttons-player{
  height: 25px;
  display: flex;
  justify-content: space-between;
}

#fa-play-circle:hover{
  font-size: 20px;
}

#media-player{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  margin-top: 5px;
}

#linea-play{
  height: 2px;
  width: 350px;
  border: 3px solid grey;
  border-radius: 5px;
  margin: 0 20px;
}

#linea-play2{
  height: 2px;
  width: 80px;
  border: 3px solid grey;
  border-radius: 5px;
}
/* media query mobile */
@media screen and (max-width: 576px){
  #barra-laterale{
    display: none;
  }

  #mobile-laterale{
    background-color: black;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }

  #profilo-small{
    background-color: grey;
    padding: 3px;
    border-radius: 15px;
  }

  #mainblock{
    width: calc(100% - 40px);
    margin-left: 0;
  }

  #upgrade{
    width: calc(100vw - 40px);
  }

  #albums{
    background-color: #222326;
    overflow: auto;
    /* debub */
    height: calc(100vh - 60px);
    width: 100%;
  }
}
