*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  height: calc(100vh - 60px);
}



#barra-laterale{
  background-color: black;
  width: 250px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  padding: 20px 0 2px 20px;
  color: grey;
}

#logo{
  width: 150px;
  margin-bottom: 25px;
}

li {
  list-style: none;
  margin-bottom: 7px;
}

a{
  text-decoration: none;
  color: grey;
}

li img{
  width: 20px;
}

li > a > span{
  margin-left: 10px;
  position: relative;
  bottom: 4px;
}

h3{
  color: white;
  margin-bottom: 15px;
}

#gianni{
  flex-grow: 1;
}

.fa-plus-square{
  font-size: 35px;
}

#crea-playlist{
position: relative;
bottom:10px;
left: 5px;
}

#nuove-playlist{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

#download{
  display: flex;
  align-items: center;
  width: 100px;
}

#download > span{
font-size: 15px;
}

#download > img{
  width: 15px;
  margin-right: 10px;
}

#profilo{
  border-top: 1px solid white;
  display: flex;
  width: 200px;
  padding-top: 10px;
}

#profilo > img{
  width: 25px;
  background-color: grey;
  border-radius: 15px;
  padding: 5px;
  margin-right: 10px;
}

#profilo > span{
  align-self: center;
  font-size: 18px;
  color: white;
  font-weight: bolder;
}

#mainblock{
  width: calc(100% - 230px);
  margin-left: 230px;
}

#upgrade{
  background-color: rgba(0, 0, 0, 0.3);
  height: 50px;
  width: calc(100vw - 250px);
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

#upgrade > a{
  align-self: center;
  color: white;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
}

#upgrade > a:hover{
  font-size: 15px;
}

.fixed{
  position: fixed;
}

#albums{
  background-color: #222326;
  overflow: auto;
  /* debub */
  height: calc(100vh - 60px);
}

footer{
  background-color: green;
  height: 60px;
  width: 100%;
}

/* media query mobile */
@media screen and (max-width: 767px){
  #barra-laterale{
    display: none;
  }

  #mobile-laterale{
    background-color: black;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #profilo-small{
    background-color: grey;
    padding: 3px;
    border-radius: 15px;
  }

  #mainblock{
    width: calc(100% - 40px);
    margin-left: 0;
  }

  #upgrade{
    width: calc(100vw - 40px);
  }

  #albums{
    background-color: #222326;
    overflow: auto;
    /* debub */
    height: calc(100vh - 60px);
    width: 100%;
  }
}
